# gniza — Target Configuration
# Copy to targets.d/<name>.conf

TARGET_NAME="example"
TARGET_FOLDERS="/var/www,/etc/nginx"
TARGET_EXCLUDE=""
TARGET_REMOTE=""
TARGET_RETENTION=""
TARGET_PRE_HOOK=""
TARGET_POST_HOOK=""
TARGET_ENABLED="yes"
# MySQL Backup
#TARGET_MYSQL_ENABLED="no"
#TARGET_MYSQL_MODE="all"
#TARGET_MYSQL_DATABASES=""
#TARGET_MYSQL_EXCLUDE=""
#TARGET_MYSQL_USER=""
#TARGET_MYSQL_PASSWORD=""
#TARGET_MYSQL_HOST="localhost"
#TARGET_MYSQL_PORT="3306"
#TARGET_MYSQL_EXTRA_OPTS="--single-transaction --routines --triggers"
